{
  "owner": {
    "roleId": "123456789012345678",
    "displayName": "Owner"
  },
  "dev": {
    "roleId": "123456789012345678",
    "displayName": "Dev"
  },
  "trialdev": {
    "roleId": "123456789012345678",
    "displayName": "Trial Dev"
  },
  "management": {
    "roleId": "123456789012345678",
    "displayName": "Management"
  },
  "admin": {
    "roleId": "123456789012345678",
    "displayName": "Admin"
  },
  "trialadmin": {
    "roleId": "123456789012345678",
    "displayName": "Trial Admin"
  },
  "mod": {
    "roleId": "123456789012345678",
    "displayName": "Mod"
  },
  "trialmod": {
    "roleId": "123456789012345678",
    "displayName": "Trial Mod"
  },
  "supporter": {
    "roleId": "123456789012345678",
    "displayName": "Supporter"
  },
  "builder": {
    "roleId": "",
    "displayName": "Builder"
  },
  "vipplus": {
    "roleId": "",
    "displayName": "VIP+"
  },
  "vip": {
    "roleId": "123456789012345678",
    "displayName": "VIP"
  },
  "default": {
    "roleId": "123456789012345678",
    "displayName": "Member"
  },
  "test": {
    "roleId": "",
    "displayName": "Test Rank"
  }
}
